{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do lists</title>
    {% block scripts %}

      <link rel="stylesheet" href="{% static '/bootstrap/dist/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static '/bootstrap/dist/css/bootstrap-tour-standalone.min.css' %}">
      <script src="{% static '/jquery/dist/jquery.min.js' %}"></script>
      <!-- <script src="{% static '/popper.js/dist/popper.min.js' %}"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="{% static '/bootstrap/dist/js/bootstrap.min.js' %}"></script>
      <script src="{% static '/bootstrap/dist/js/bootstrap-tour-standalone.min.js' %}"></script>
      <script src="{% static '/js/home.js' %}"></script>
    {% endblock %}
  </head>

  <body>
    <h1>{% block header_text %}{% endblock %}</h1>
    <form method="POST" action="{% block form_action %}{% endblock %}">
      {{ form.text }}
      {% csrf_token %}
      {% if form.errors %}
        <div class="form-group has-error">
          <span class="help-block">{{ form.text.errors }}</span>
        </div>
      {% endif %}
      <h1 class="one">My Awesome App</h1>
      
      <div class="two">
        <img src="http://lorempixel.com/300/200"/>
      </div>
    </form>
    {% block table %}
    {% endblock %}
  </body>
</html>
